
    <!--
    *** CUSTOMER MENU ***
    _________________________________________________________
    -->
    <div class="card sidebar-menu">
      <div class="card-header">
        <h3 class="h4 card-title">Customer section</h3>
      </div>
      <div class="card-body">
        <ul class="nav nav-pills flex-column">
          <a [routerLinkActive]="['active']"class="nav-link" [routerLink]="['/profil']"><i class="fa fa-list"></i> My orders</a>
          <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/add-produit']"><i class="fa fa-plus"></i> add produit</a>
          <!-- <a href="customer-account.html" class="nav-link"><i class="fa fa-user"></i> My account</a> -->
          <a (click)="_loginSRV.logoutUser()" href="#" class="nav-link"><i class="fa fa-sign-out"></i> Logout</a>
        </ul>
      </div>
    </div>
    <!-- /.col-lg-3-->
    <!-- *** CUSTOMER MENU END ***-->
