
  <div class="card sidebar-menu mb-4">
    <div class="card-header">
      <h3 class="h4 card-title">Categories</h3>
    </div>
    <div class="card-body">
      <ul class="nav nav-pills flex-column category-menu">
        <li *ngFor="let Cate of allParnetCategories"><a [routerLink]="['/category/',Cate.id]" [routerLinkActive]="['active']" class="nav-link">{{Cate.lable}} <span class="badge badge-secondary">{{Cate.listProduit.length}}</span></a>
          <ul class="list-unstyled">
            <li *ngFor="let item of Cate.Child"><a [routerLink]="['/category/',item.id]" [routerLinkActive]="['active']" class="nav-link">{{item.lable}}<span class="badge badge-secondary">{{item.listProduit.length}}</span></a></li>
          </ul>
        </li>
        
        <!-- <li><a href="category.html" class="nav-link active">Ladies  <span class="badge badge-light">123</span></a>
          <ul class="list-unstyled">
            <li><a href="category.html" class="nav-link">T-shirts</a></li>
            <li><a href="category.html" class="nav-link">Skirts</a></li>
            <li><a href="category.html" class="nav-link">Pants</a></li>
            <li><a href="category.html" class="nav-link">Accessories</a></li>
          </ul>
        </li> -->
        
      </ul>
    </div>
  </div>
  