<div class="row products">
  <div class="col-lg-3 col-md-4">
    <div class="product">
      <div class="flip-container">
        <div class="flipper">
          <div class="front"><a href="detail.html"><img src="assets/img/huawei2.jpg" alt="" class="img-fluid"></a></div>
          <div class="back"><a href="detail.html"><img src="assets/img/hover.jpg" alt="" class="img-fluid"></a></div>
        </div>
      </div><a href="detail.html" class="invisible"><img src="assets/img/huawei2.jpg" alt="" class="img-fluid"></a>
      <div class="text">
        <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
        <p class="price"> 
          <del></del>$143.00
        </p>
        <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
      </div>
    </div> 
  </div>
  <div class="col-lg-3 col-md-4">
    <div class="product">
      <div class="flip-container">
        <div class="flipper">
          <div class="front"><a href="detail.html"><img src="assets/img/huawei3.jpg" alt="" class="img-fluid"></a></div>
          <div class="back"><a href="detail.html"><img src="assets/img/hover.jpg" alt="" class="img-fluid"></a></div>
        </div>
      </div><a href="detail.html" class="invisible"><img src="assets/img/huawei3.jpg" alt="" class="img-fluid"></a>
      <div class="text">
        <h3><a href="detail.html">Black Blouse Versace</a></h3>
        <p class="price"> 
          <del></del>$143.00
        </p>
        <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4">
    <div class="product">
      <div class="flip-container">
        <div class="flipper">
          <div class="front"><a href="detail.html"><img src="assets/img/iphone1.jpg" alt="" class="img-fluid"></a></div>
          <div class="back"><a href="detail.html"><img src="assets/img/hover.jpg" alt="" class="img-fluid"></a></div>
        </div>
      </div><a href="detail.html" class="invisible"><img src="assets/img/iphone1.jpg" alt="" class="img-fluid"></a>
      <div class="text">
        <h3><a href="detail.html">Black Blouse Versace</a></h3>
        <p class="price"> 
          <del></del>$143.00
        </p>
        <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4">
    <div class="product">
      <div class="flip-container">
        <div class="flipper">
          <div class="front"><a href="detail.html"><img src="assets/img/iphone2.jpg" alt="" class="img-fluid"></a></div>
          <div class="back"><a href="detail.html"><img src="assets/img/hover.jpg" alt="" class="img-fluid"></a></div>
        </div>
      </div><a href="detail.html" class="invisible"><img src="assets/img/iphone2.jpg" alt="" class="img-fluid"></a>
      <div class="text">
        <h3><a href="detail.html">Fur coat</a></h3>
        <p class="price"> 
          <del></del>$143.00
        </p>
        <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
      </div>
      <div class="ribbon gift">
        <div class="theribbon">GIFT</div>
        <div class="ribbon-background"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4">
    <div class="product">
      <div class="flip-container">
        <div class="flipper">
          <div class="front"><a href="assets/detail.html"><img src="assets/img/iphone11.jpg" alt="" class="img-fluid"></a></div>
          <div class="back"><a href="detail.html"><img src="assets/img/hover.jpg" alt="" class="img-fluid"></a></div>
        </div>
      </div><a href="detail.html" class="invisible"><img src="assets/img/iphone11.jpg" alt="" class="img-fluid"></a>
      <div class="text">
        <h3><a href="detail.html">Black Blouse Versace</a></h3>
        <p class="price"> 
          <del></del>$143.00
        </p>
        <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
      </div>
    </div>
  </div>
</div>